<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764797089811-pkvelbqli2eajqpq40k9gd4tgvbuj0q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764797089811-pkvelbqli2eajqpq40k9gd4tgvbuj0q3</string>
	<key>API_KEY</key>
	<string>AIzaSyB_0ijDN9Vm4JVtyOlBJo5umBfsSkuNhbg</string>
	<key>GCM_SENDER_ID</key>
	<string>764797089811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickelfox.AppExtension</string>
	<key>PROJECT_ID</key>
	<string>appextension-d27e5</string>
	<key>STORAGE_BUCKET</key>
	<string>appextension-d27e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764797089811:ios:3106e36ec2cf6dd02f67e6</string>
	<key>DATABASE_URL</key>
	<string>https://appextension-d27e5.firebaseio.com</string>
</dict>
</plist>